body{
    margin: 55px;
    font-family: 'uncracked', sans-serif;
    background-color: black;
}

.dot{
    border-radius:10%;
    background-color: gold;
}

h1{
  font-size: 2rem;
  font-family:debug;
  color: silver;
  
}
div{
  background-color: black;
}
